{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<div class="login-container">
    <div class="login-title">Entrar</div>
    <form method="POST" action="/login" name="loginForm">
        {{ form.hidden_tag() }}  <!-- Gera o token CSRF -->
        <input type="email" name="email" required placeholder="Digite seu email" />
        <input type="password" name="password" required placeholder="Digite sua senha" />
        <button type="submit">Entrar</button>
    </form>
</div>

    <div class="login-footer">
        <p>Não tem uma conta? <a href="/registrar_estudante">Registrar estudante</a> | <a href="/registrar_bibliotecario">Registrar bibliotecário</a></p>
    </div>
{% endblock %}